@media (max-width:  600px){ /* if screen is small do this */
	.bgDes1{
		background-image: none;
		background-color: black; !important;
	}
	.bgDes2{
		background-image: none;
		background-color: black; !important;
	}
		.bgDes3{
		background-image: none;
		background-color: black; !important;
	}
}
@media (min-width:  600px){ /* if screen is big do this */
				.bgDes1{
					background-image: url('Pics/mars.jpg'); 
					height: 120vh !important; 
					background-color: black;
				}
				.bgDes2{
					background-image: url('Pics/moon.jpg'); 
					height: 120vh !important; 
					background-color: black;\
					background-repeat: no-repeat;
				}
				.bgDes3{
					background-image: url('Pics/titan.jpg'); 
					height: 120vh !important; 
					background-color: black;\
					background-repeat: no-repeat;
				}
	}



.desHeader{
	font-size: 80px !important;
	text-transform: uppercase;
	font-family: Geneva !important;
	letter-spacing: .5rem;
	/*margin-left: -100px !important;*/


}
.desDescription{
		/*margin-left: -100px !important;*/
	font-size: 18px;
}
.desShortDes{
			/*margin-left: -100px !important;*/
		text-transform: uppercase;
		font-family: Lucif !important;
		font-size: 15px;
		letter-spacing: .25rem;
}
.desNums{
		/*margin-left: -100px !important;*/
			text-transform: uppercase;
		font-family: Lucinda Sans !important;
		font-size: 25px;
		letter-spacing: .2rem;
}
.mainDesCSS{
	color: antiquewhite; !important;
}

.nav{
	/*background-color:    rgba(15,67,103,0.59) !important;*/
		font-size: 30px ;
	text-align: center;
	color: white !important;
	padding-right: 200px;
	font-family: Lucida Console !important;
	text-transform: uppercase;
	letter-spacing: .2rem;
	background: linear-gradient(150deg,rgba(15,67,103,0.8), rgba(0,0,0,1)) !important;

}
.indNav{
	padding-right: 100px !important;
}
.bg-image{
	background-image: contain !important;
}
.pD{
	font-size: 25px !important;
	color: whitesmoke !important;
	font-family: Lucida Console !important;
		text-transform: uppercase;
	letter-spacing: .2rem;
} 
.pDLink{
	font-size: 20px !important;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: grey; !important;

}
.pDLink:hover{
	color: yellow !important;
	font-size: 25px !important;
}

.faqHeader{
	/*background-image: linear-gradient(to bottom right,var(--main-bg-color), var(--secondary-bg-color));*/
	background-color: var(--faqBG) !important;
	/*border-radius: 10px;
	border-width: 32px;
	border-color: black;
	border-style: solid;*/
	border-bottom: 5px solid black;
	
	color: black !important;
	font-variant-caps: all-small-caps;
	/*font-size: 10vh;*/
	font-weight: 900;
	
	letter-spacing: .5rem;
	/*padding-left: 400px;
	padding-right: 400px;*/
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
	align-content: center;
	font-size: 40px !important;
}

.faqHeaderText{
	font-size: 18vh !important;
}
.signUp{
background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 35%, rgba(41,41,111,1) 84%);
color: white;
}


.signUpTitle{
	color: white;
	font-variant-caps: all-small-caps;
	/*font-size: 10vh;*/
	font-weight: 900;
	
	letter-spacing: .5rem;
	/*padding-left: 400px;
	padding-right: 400px;*/
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
	align-content: center;
	
}
